<div id="navWideScreen" class="w3-bar w3-black">
    <a href="#/!" class="w3-bar-item w3-button w3-hover-blue w3-hide-small" ng-click="select('heroes')">Heroes</a>
    <a href="#!roles" class="w3-bar-item w3-button w3-hover-blue w3-hide-small" ng-click="select('roles')">Roles</a>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
        ng-click="burgerClicked()">&#9776;</a>
</div>

<div id="demo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium">
    <a href="#" class="w3-bar-item w3-button w3-hover-blue" ng-click="select('heroes')">Heroes</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-blue" ng-click="select('roles')">Roles</a>
</div>